.block {
	margin-bottom: var(--spacing-3);
}

.block.line {
	margin-bottom: var(--spacing-12);
}

.life .block.line {
	margin-bottom: var(--spacing-6);
}

.block.text p {
	margin-bottom: var(--spacing-3);
}
