header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	z-index: 3000;

	.logo {
		position: relative;
		transform: translateY(-0.2rem);
		width: var(--logo-size);
		padding-left: var(--spacing-4);
	}

	a:has(img.logo) {
		border-bottom: none;
	}

	a:has(img.logo):hover {
		background: none;
	}

	.text {
		margin-top: calc(var(--logo-size) / 4);
	}

	.logo-text {
		margin-left: -1rem;
	}

	.info {
		display: none;
	}
}

@media (max-width: 65rem) {
	header {
		.logo {
			--span: 7 !important;
		}
	}
}

@media (max-width: 45rem) {
	header {
		margin-bottom: 1rem !important;

		.logo {
			--span-sm: 1;
			padding-left: var(--spacing-4);
		}

		.text.logo-text {
			display: block;
		}

		.text {
			display: none;
		}

		.info {
			position: absolute;
			display: block;
			margin-top: calc(var(--logo-size) / 4);
			right: var(--spacing-4);
			cursor: pointer;
		}

		.info p {
			margin-bottom: 0;
		}
	}
}
