main {
	padding: 0 var(--spacing-3);
}

.home.columns {
	height: 100dvh;
	overflow: hidden;
}

.home.columns > * {
	--span-sm: 4;
}

.projects,
.life {
	max-height: 100vh;
	overflow-y: auto;
}

.life {
	padding: var(--spacing-3);
	background-color: var(--color-highlight);
}

/* @supports (backdrop-filter: blur(10px)) {
	.life {
		background-color: var(--color-highlight);
		backdrop-filter: blur(10px);
	}
} */

section.projects,
section.life {
	position: relative;
	top: var(--spacing-16);
}

canvas {
	display: block;
	height: 100%;
	width: 100%;
}

.footer p {
	font-size: var(--text-sm);
}

@media (max-width: 64rem) {
	main {
		padding: 0 var(--spacing-3);
	}

	.life,
	.projects {
		display: none;
	}

	.life.show,
	.projects.show {
		display: block;
		width: 100%;
		height: 100%;
		top: var(--spacing-16);
	}

	.project.columns [style="--span:3"],
	.project.columns [style="--span:9"] {
		--span-sm: 2;
	}

	.footer {
		--span-sm: 1;
	}

	.footer:last-child {
		grid-area: 1 / col4-start / last-line / 5;
	}

	.footer p {
		font-size: var(--text-xs);
	}
}
