main {
	padding: 0 var(--spacing-3);
}

.home.columns {
	height: 100dvh;
	overflow: hidden;
}

.home.columns > * {
	--span-sm: 4;
}

.projects,
.life {
	max-height: calc(100vh - var(--spacing-8));
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.projects::-webkit-scrollbar,
.life::-webkit-scrollbar {
	display: none;
}

section.projects,
section.life {
	position: relative;
	top: var(--spacing-16);
}

canvas {
	display: block;
	height: 100%;
	width: 100%;
}

.footer p {
	font-size: var(--text-sm);
}

@media (max-width: 64rem) {
	main {
		padding: 0 var(--spacing-3);
		height: auto;
		overflow: visible;
	}

	.life,
	.projects {
		display: none;
	}

	.life.show,
	.projects.show {
		display: block;
		width: 100%;
		max-height: calc(100vh - var(--spacing-16));
		height: auto;
		top: var(--spacing-16);
		overflow-y: auto;
		overflow-x: hidden;
		scrollbar-width: none;
		-ms-overflow-style: none;
		-webkit-overflow-scrolling: touch;
	}

	.life.show::-webkit-scrollbar,
	.projects.show::-webkit-scrollbar {
		display: none;
	}

	.project.columns [style="--span:3"],
	.project.columns [style="--span:9"] {
		--span-sm: 2;
	}

	.footer {
		--span-sm: 1;
	}

	.footer:last-child {
		grid-area: 1 / col4-start / last-line / 5;
	}

	.footer p {
		font-size: var(--text-xs);
	}
}
