.life {
	padding-bottom: var(--spacing-16);
	scroll-padding-bottom: var(--spacing-16);
}

.life .text > *:last-child {
	margin-bottom: var(--spacing-16);
}

.life .columns > *:last-child,
.life .text > *:last-child {
	margin-bottom: var(--spacing-16);
}

.life .block.image {
	filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	position: relative;
	overflow: hidden;
}
