.life {
	padding-bottom: var(--spacing-16);
	scroll-padding-bottom: var(--spacing-16);
	overflow: auto;
    min-height: 100vh;
}


@media (max-width: 64rem) {
	.life {
		/* padding: var(--spacing-3) var(--spacing-3) 0 var(--spacing-3); */
		background-color: white;
	}
}


.life .columns > *:last-child {
	margin-bottom: var(--spacing-16);
}

.life .block.image {
	filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	position: relative;
	overflow: hidden;
}
