#outerCircleText {
	color: var(--color-gray-900);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3000;
	cursor: default;
}
#outerCircleText div {
	position: relative;
}
#outerCircleText div div {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

body[data-url="/newsletters"] .newsletter-archive {
	display: none !important;
}
