#mc_embed_signup {
	width: 100%;
	margin: 0 auto;
}

form {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-2);
}

input {
	width: 100%;
	font-family: monospace;
	font-size: var(--text-m);
	letter-spacing: 1px;
	line-height: var(--leading-snug);
	height: 45px;
	padding: 0 12px;
	/* background-color: rgb(254, 255, 184); */
	background-color: var(--color-gray-200);
	border: 1px solid #ccc;
	outline: 0;
	transition: border-color 0.3s;
	white-space: nowrap;
}

input:focus {
	border-color: var(--color-gray-900);
	transform: none;
}

.button {
	height: 45px;
	/* background-color: rgb(254, 255, 184); */
	background-color: var(--color-gray-200);
	color: var(--color-gray-900);
	border: 1px solid var(--color-gray-900);
	cursor: pointer;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: var(--color-gray-700);
	color: var(--color-gray-100);
}

/* Hide the default checkbox */
input[type="checkbox"] {
	display: none;
}

/* Custom round checkbox */
input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	cursor: pointer;
	padding-left: 25px;
	line-height: 15px;
}

/* Create the custom checkbox */
input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #000;
	border-radius: 50%;
	background: var(--color-gray-200);
	/* background: rgb(254, 255, 184); */
}

/* Checked state */
input[type="checkbox"]:checked + label::before {
	background: var(--color-gray-800);
}

/* Indicate checked state */
input[type="checkbox"]:checked + label::after {
	content: "";
	position: absolute;
	left: 5px;
	top: 5px;
	width: 5px;
	height: 5px;
	background: var(--color-gray-200);
	/* background: rgb(254, 255, 184); */
	border-radius: 50%;
}

.checkbox-group {
	display: flex;
	gap: 20px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.checkbox-group li {
	display: flex;
	align-items: center;
}

.checkbox label {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.checkbox label p {
	margin: 0;
}
