:root {
	--prose-code-bg: rgba(0, 0, 0, 0.1);
	--prose-pre-bg: var(--color-black);
	--prose-size: var(--text-lg);
	--prose-color-text: var(--color-gray-950);
	--prose-color-highlight: var(--color-black);
}

.prose {
	font-size: var(--prose-size);
	line-height: var(--leading-normal);
	color: var(--prose-color-text);
	hyphens: auto;
	overflow-wrap: break-word;
}

.prose a {
	color: var(--prose-color-highlight);
	max-width: 100%;
	word-break: break-word;
}

.prose abbr {
	text-decoration: none;
}
.prose abbr a {
	text-decoration-color: var(--color-gray-500);
	text-decoration-style: dotted;
	cursor: help;
}

/* Highlight elements */
.prose strong {
	font-weight: var(--font-bold);
}
.prose em {
	font-style: italic;
}

/* Margins */
.prose * + blockquote,
.prose * + .box,
.prose * + .code,
.prose * + .filesystem,
.prose * + hr,
.prose * + p,
.prose * + ol,
.prose * + ul,
.prose > * + details,
.prose * + .screencast,
.prose * + .since,
.prose * + .table {
	margin-top: 1em;
}

.prose > details[open] summary {
	margin-bottom: 0.75rem;
}

/* Lists */
.prose li::marker {
	color: inherit;
}
.prose ul {
	margin-left: 0;
	padding-left: 1.5em;
}
.prose ol {
	margin-left: 1.5em;
}
.prose ol p,
.prose ul p {
	margin-top: 0;
}
.prose ol ol,
.prose ol ul,
.prose ul ol,
.prose ul ul {
	margin-top: 0;
}
.prose ol > li {
	list-style: decimal-leading-zero;
	padding-left: 0.25em;
}
.prose ol > li::marker {
	font-variant-numeric: tabular-nums;
	font-size: inherit;
	font-family: inherit;
}
.prose ul > li {
	list-style: disc;
}
.prose ul ul > li {
	list-style: circle;
}

/** Headings **/
.prose h1 a,
.prose h2 a,
.prose h3 a,
.prose h4 a,
.prose h5 a,
.prose h6 a {
	color: inherit;
	text-decoration: none;
}
.prose h2,
.prose h3 {
	scroll-margin-top: var(--spacing-6);
}

/** Code **/
.prose :not(pre) > code {
	font-family: var(--font-mono);
	display: inline-flex;
	font-size: 0.825em;
	max-width: 100%;
	padding-inline: 0.375rem;
	border-radius: 3px;
	background: var(--prose-code-bg);
	color: var(--prose-color-highlight);
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
}
.prose code a {
	text-decoration: none;
	color: inherit;
}

/** Codeblocks **/

/** Blockquotes **/
.prose > blockquote {
	margin: 3em 0;
}
.prose > blockquote p {
	border-left: 2px solid #000;
	padding-left: 0.75rem;
	max-width: 20em;
	font-size: 1.2em;
	line-height: var(--leading-snug);
	color: var(--prose-color-highlight);
}
.prose li > blockquote {
	margin: 0.5em 0;
	font-size: 0.85em;
	padding-left: 0.75rem;
	border-left: 2px solid var(--color-gray-300);
}

/** Horizontal Rule **/
.hr {
	height: var(--spacing-2px);
	background: currentColor;
	width: var(--spacing-4);
}

/** Definition Lists **/
.prose dt {
	font-weight: var(--font-bold);
}

/** Images **/
.prose img {
	width: auto;
	height: auto;
	max-width: 100%;
}
.prose * + figure:is(.image, .video) {
	margin-bottom: 2.5rem;
}
.prose * + figure:is(.image, .video) {
	margin-top: 2.5rem;
}
.prose .image a {
	display: inline-block;
}
.prose .image img {
	box-shadow: var(--shadow-2xl);
	background: var(--color-gray-200);
}
.prose .image figcaption,
figcaption {
	font-size: var(--text-sm);
	color: var(--color-gray-600);
	padding-top: var(--spacing-2);
}

/* Video */
.prose figure.video video {
	width: auto;
	height: auto;
	max-width: 100%;
	box-shadow: var(--shadow-xl);
	border-radius: var(--rounded);
}

/* Columns */
.prose * + .columns {
	margin-top: 2.5rem;
}

.prose * + nav {
	margin-top: 1.5rem;
}

/* Intro */
.prose .intro {
	line-height: var(--leading-tight);
	font-size: var(--text-2xl);
}

/* Since */
.since {
	position: relative;
	padding-bottom: 1.5rem;
}
.since::before,
.since::after {
	content: "";
	position: absolute;
}
.since::before {
	top: calc(0.75rem - 1px);
	left: -1.5rem;
	bottom: 0;
	border: 1px solid var(--color-gray-300);
	border-right: none;
	width: 1.5rem;
}
.since[open]::after {
	bottom: -0.5rem;
	left: 0;
	width: 1px;
	margin-top: -1px;
	height: 1rem;
	background: var(--color-gray-300);
}
.since:not([open])::after {
	content: "• • •";
	bottom: -0.825rem;
	color: var(--color-gray-300);
	left: 0;
}
.since summary {
	position: relative;
	z-index: 1;
	font-family: var(--font-mono);
	font-size: var(--text-xs);
	display: inline-block;
	padding: var(--spacing-2px) var(--spacing-3);
	background: var(--color-light);
	border: 1px solid var(--color-gray-300);
	border-radius: 3rem;
	margin-left: -0.75rem;
}
.since summary.new {
	background: var(--color-yellow-400);
	border: 1px solid var(--color-yellow-500);
}
.since summary a {
	text-decoration: none;
}
