@import "config/colors.css";
@import "config/font-family.css";
@import "config/font-size.css";
@import "config/font-weight.css";
@import "config/height.css";
@import "config/opacity.css";
@import "config/pattern.css";
@import "config/rounded.css";
@import "config/shadow.css";
@import "config/spacing.css";
@import "config/z-index.css";

@import "framework/reset.css";
@import "framework/utilities.css";
@import "framework/aspect-ratio.css";
@import "framework/splide.min.css";
@import "framework/grid.css";
@import "framework/prose.css";

@import "site/fonts.css";
@import "site/text.css";
@import "site/links.css";
@import "site/life.css";
@import "site/project.css";
@import "site/p5.css";
@import "site/polysound.css";
@import "site/signup.css";
@import "site/slider.css";
@import "site/header.css";
@import "site/variables.css";
@import "site/video.css";
@import "site/layout.css";
@import "site/blocks.css";
@import "site/studio.css";
@import "site/newsletter.css";
@import "site/trail.css";
